:root {
  --dash-bg: #f4f5fa;
  --link: #777777;
  --nav-color: #434343;
  --link-hover: #000;
  --company: #4e4e4e;
  --logout: #494949;
  --input: #7a7a7a;
  --btn: #494949;
  --d-icon: #565656;
  --contact: #2d2d2d;
}

@font-face {
  src: url(../fonts/Poppins-Medium.ttf);
  font-family: 'pop';
}

@font-face {
  src: url(../fonts/NotoSans-Regular.ttf);
  font-family: 'noto';
}

@font-face {
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-family: 'pop-semibold';
}

@font-face {
  src: url(../fonts/NotoSans-Bold.ttf);
  font-family: 'noto-bold';
}

@font-face {
  src: url(../fonts/Poppins-Black.ttf);
  font-family: 'pop-black';
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link);
}

/* ======== section code ======== */
.section {
  font-family: Pop;
  text-align: center;
  width: 85.5vw;
  /* height: 75.36vh; */
  margin: auto;
  /* min-height: 700px; */
  color: var(--d-icon);
}

/* ========= nav bar start ========== */
.navbar {
  font-family: pop;
  padding: 0;
  margin: 6.94vh 0 clamp(20px, 2vh, 30px) 0;
  font-size: 1.25rem;
}
/* ==== brand ==== */
.navbar-light .navbar-brand {
  font-size: 1.5625rem;
  font-family: pop-semibold;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-brand > img {
  width: 1.44em;
  height: 1.28em;
  margin: 0 1em 0 0;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler > img {
  width: 1.25em;
}

/* ==== nav-links ====  */
.nav-item:not(:last-of-type) {
  margin: 0 1.25em 0 0;
}

.link {
  width: 5.65em;
  height: 2.5em;
  box-shadow: 0.1em 0.1em 6px rgba(141, 160, 255, 0.25);
  border-radius: 0.4em;
  display: grid;
  place-items: center;
  padding: 0;
  color: #494949;
  position: relative;
  transition: transform 0.2s linear, box-shadow 0.25s ease-out;
}

.logout-icon {
  width: 0.9em;
  height: 1.15em;
  margin: 0 0 0 0.4em;
}

/* link hover */
.link:hover {
  transform: translate(0, -5%);
  box-shadow: 0px 0.5em 30px rgba(0, 43, 153, 0.35);
  box-shadow: 0px 1em 30px rgba(141, 160, 255, 0.25);
  color: #494949;
}

/* === active link === */
.link > p {
  z-index: 1;
}

.link > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #5ec5ff, #285ad8);
  border-radius: inherit;
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  transition: clip-path 0.45s ease-out, opacity 0.2s ease-out;
}

.active1 > span {
  clip-path: circle(100% at 50% 50%);
  box-shadow: 0px 0.5em 30px rgba(0, 43, 153, 0.35);
  opacity: 1;
}

.active1:hover {
  transform: translate(0, 0);
  box-shadow: none;
}

.active1 > p {
  color: #fff;
}

/* ======== navbar end ======= */

.content {
  width: 69.52vw;
  height: calc(100vh - 138px);
  color: var(--contact);
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-family: pop;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 10vh 0;
}

.right {
  width: min-content;
  display: flex;
  align-items: center;
}

.main-text {
  font-size: 6.875rem;
  font-family: pop-black;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

.icon-con {
  display: flex;
  font-size: 1.25rem;
}

.social-btn {
  width: 2.5em;
  height: 2.5em;
  display: grid;
  place-items: center;
  background: #ffffff;
  box-shadow: 0.1em 0.3em 8px rgba(1, 21, 131, 0.25);
  border-radius: 0.4em;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.social-btn:not(:last-of-type) {
  margin: 0 1.75em 0 0;
}

.social-btn > span {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(128.31deg, #5ec5ff 0%, #285ad8 100%);
  opacity: 0;
  transition: opacity 0.2s linear;
  box-shadow: 0.1em 0.3em 8px rgba(1, 21, 131, 0.25);
}

.social-btn:hover span {
  opacity: 1;
}

.social-btn:hover > svg {
  fill: #fff;
}

.social-btn > svg {
  fill: #2d2d2d;
  width: 1.4em;
  height: 1.4em;
  transition: fill 0.2s ease-out;
}

/*  ======= right =======  */

.info-container {
  font-size: 2rem;
  margin: 0 2em 0 auto;
  /* width: min-content; */
}

.info {
  margin: 0 0 2em 0;
}

.info-head {
  margin: 0 0 0.25em 0;
  font-weight: 700;
}

.info-body {
  width: 90%;
}

.info-body {
  font-size: 0.625em;
}

@media screen and (max-width: 1400px) {
  .link {
    font-size: 1.125rem;
  }

  .main-text {
    font-size: 6rem;
  }

  .info-container {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    margin: 4vh 0 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .main-text {
    font-size: 5.5rem;
    margin: 0 0 0.2em 0;
  }

  .info-container {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3vh 0 0 0;
    justify-content: space-between;
  }

  .info {
    width: 25%;
    min-width: 154px;
    margin: 0 2em 1em 0;
  }

  .info:last-of-type {
    margin: 0 0 0 0;
  }

  .info-body {
    font-size: 1rem;
  }

  .content {
    flex-direction: column;
    justify-content: center;
  }

  .right {
    width: 100%;
    align-items: start;
  }

  .icon-con {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 991px) {
  .footer-bt-left {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-light .navbar-brand {
    font-size: 1.25rem;
  }

  .left {
    margin: 0 0 5vh 0;
  }

  .main-text {
    font-size: 4rem;
  }

  .icon-con {
    font-size: 1rem;
  }

  .footer-bt-left {
    font-size: 1.5rem;
    padding: 0;
    margin: 1.5em 0 0 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .info:last-of-type {
    margin: 0 0 0 0;
  }

  .info-body {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .content {
    width: 100%;
    justify-content: flex-start;
  }

  .left {
    margin: 8vh 0 5vh 0;
  }

  .footer-bt-left {
    font-size: 1.125rem;
  }

  .main-text {
    font-size: 3rem;
  }

  .icon-con {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 331px) {
  .main-text {
    font-size: 2.375rem;
  }
}
