:root {
  --dash-bg: #f4f5fa;
  --link: #777777;
  --nav-color: #434343;
  --link-hover: #000;
  --company: #4e4e4e;
  --logout: #494949;
  --input: #7a7a7a;
  --btn: #494949;
  --d-icon: #565656;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  src: url(../fonts/Poppins-Medium.ttf);
  font-family: 'pop';
}

@font-face {
  src: url(../fonts/NotoSans-Regular.ttf);
  font-family: 'noto';
}

@font-face {
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-family: 'pop-semibold';
}

@font-face {
  src: url(../fonts/NotoSans-Bold.ttf);
  font-family: 'noto-bold';
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link);
}

.glass-bg {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.1));
  backdrop-filter: blur(44px);
}

.body-con {
  z-index: 2;
}

.object-1,
.object-2,
.object-3,
.object-4,
.object-5,
.object-6 {
  z-index: -2;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(
    218.31deg,
    #bbe7ff 0%,
    #609cff 51.04%,
    #002586 100%
  );
}

.object-1,
.object-4 {
  width: 432px;
  height: 432px;
}

.object-1 {
  bottom: -40%;
  left: -14%;
}

.object-2 {
  bottom: 3%;
  left: 0%;
}

.object-3 {
  bottom: 60%;
  left: -10%;
}

.object-2,
.object-5 {
  width: 362px;
  height: 362px;
}

.object-3,
.object-6 {
  width: 216px;
  height: 216px;
}

.object-4 {
  right: -14%;
  bottom: -62%;
}

.object-5 {
  right: -1%;
  bottom: -18%;
}

.object-6 {
  right: -9%;
  bottom: 36%;
}

.top-btn {
  position: fixed;
  width: 108px;
  height: 108px;
  right: 3%;
  bottom: 5%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(141, 160, 255, 0.25);
  z-index: 3;
  cursor: pointer;
  display: none;
  place-items: center;
  opacity: 0;
  animation: drop2 0.4s linear forwards;
}

.top-arrow {
  width: 60%;
  height: 50%;
  margin: 0 0 0 3%;
}

@keyframes drop2 {
  0% {
  }

  100% {
    opacity: 1;
  }
}

.drop {
  display: grid;
}

/* ======== section code ======== */
body {
  overflow-x: hidden !important;
}

.section {
  font-family: Pop;
  text-align: center;
  width: 85.5vw;
  min-height: min-content;
  /* height: 75.36vh; */
  margin: auto;
  /* min-height: 700px; */
  color: var(--d-icon);
  position: relative;
}

/* ======== section typo ======== */
.header {
  font-size: 2rem;
  width: 10em;
  height: 3.125em;
  margin: 0 auto 3.25em auto;
  display: grid;
  place-items: center;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0px 0.375em 20px rgba(0, 43, 153, 0.2);
  border-radius: 0.5em;
}

.features {
  font-size: 1.25rem;
  width: 76.82vw;
  margin: 0 auto 5.2em auto;
}

/* ========= nav bar start ========== */
.navbar {
  font-family: pop;
  padding: 0;
  margin: 6.94vh 0 0 0;
  font-size: 1.25rem;
}
/* ==== brand ==== */
.navbar-light .navbar-brand {
  font-size: 1.5625rem;
  font-family: pop-semibold;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-brand > img {
  width: 1.44em;
  height: 1.28em;
  margin: 0 1em 0 0;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler > img {
  width: 1.25em;
}

/* ==== nav-links ====  */
.nav-item:not(:last-of-type) {
  margin: 0 1.25em 0 0;
}

.link {
  width: 5.65em;
  height: 2.5em;
  box-shadow: 0.1em 0.1em 6px rgba(141, 160, 255, 0.25);
  border-radius: 0.4em;
  display: grid;
  place-items: center;
  padding: 0;
  color: #494949;
  position: relative;
  transition: transform 0.2s linear, box-shadow 0.25s ease-out;
}

.logout-icon {
  width: 0.9em;
  height: 1.15em;
  margin: 0 0 0 0.4em;
}

/* link hover */
.link:hover {
  transform: translate(0, -5%);
  box-shadow: 0px 0.5em 30px rgba(0, 43, 153, 0.35);
  box-shadow: 0px 1em 30px rgba(141, 160, 255, 0.25);
  color: #494949;
}

/* === active link === */
.link > p {
  z-index: 1;
}

.link > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #5ec5ff, #285ad8);
  border-radius: inherit;
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  transition: clip-path 0.45s ease-out, opacity 0.2s ease-out;
}

.active > span {
  clip-path: circle(100% at 50% 50%);
  box-shadow: 0px 0.5em 30px rgba(0, 43, 153, 0.35);
  opacity: 1;
}

.active:hover {
  transform: translate(0, 0);
  box-shadow: none;
}

.active > p {
  color: #fff;
}

/* ======== navbar end ======= */

/* landing content */
.landing-section {
  /* height: 93vh; */
  margin: 0 auto 15.78vh auto;
}

.landing-content {
  color: var(--link-hover);
  font-family: pop-semibold;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.body-con {
  width: 100%;
  overflow: hidden;
}

.landing-content::after {
  content: '';
  width: 82.5vw;
  right: 17.5vw;
  bottom: 30%;
  z-index: -1;
  height: 40%;
  background: linear-gradient(
    128.31deg,
    rgb(94, 197, 255, 0.65) 0%,
    rgb(40, 90, 216, 0.65) 100%
  );
  position: absolute;
}

.landing-content::before {
  content: '';
  position: absolute;
  width: 82.5vw;
  right: 17.5vw;
  bottom: 20%;
  z-index: -1;
  height: 10%;
  background: linear-gradient(
    240.93deg,
    rgb(4, 73, 250, 0.6) 18.01%,
    rgb(75, 144, 255, 0.6) 50.82%,
    rgb(129, 164, 255, 0.6) 82.29%
  );
}

.left {
  width: 50%;
}

.landing-header {
  font-size: 3.125rem;
  /* need font */
  font-family: pop;
  font-weight: bold;
  line-height: 1.12em;
  margin: 75px 0 80px 0;
  padding: 0 0 0 1em;
}

.landing-header > span {
  display: block;
}

.article {
  font-size: 1.5625rem;
  width: 90%;
  color: #fff;
  padding: 0 0 0 2em;
  margin: 0 0 3em 0;
}

/* service boxes */
.box-container {
  display: flex;
}

.box {
  min-width: 220px;
  width: 220px;
  height: 180px;
  display: grid;
  place-items: center;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 56, 201, 0.1);
  border-radius: 20px;
  margin: 0 50px 0 0;
  cursor: pointer;
  transition: transform 0.25s linear;
  z-index: 2;
}

.box > img {
  width: 39.1%;
  height: 65%;
}

.box-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(
    158.54deg,
    hsl(201, 100%, 87%, 0.7) 14.11%,
    rgb(96, 156, 255, 0.7) 51.36%,
    rgb(0, 37, 134, 0.7) 87.09%
  );
  opacity: 0;
  transition: opacity 0.2s linear;
  box-shadow: 0px 45px 100px rgba(0, 52, 131, 0.4);
}

.box:hover .box-bg {
  opacity: 1;
}

.box:hover {
  transform: translate(0, -10%);
}

.right {
  align-self: center;
  width: 50%;
  height: 60vh;
  transform: translate(10%, 0);
}

/*  ====== slider section start =====   */
.slider-section {
  margin: 0 auto 17.78vh auto;
}

.carousel {
  width: 95.88%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.mobile-slider {
  display: none;
}

.carousel-inner {
  width: 86.79%;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

/*  slider  img  */
.slider-img {
  width: 48.22%;
  cursor: pointer;
}

.modal-backdrop {
  background: transparent;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0.2)
  );
}

.modal {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal-body {
  padding: 0;
}

.modal-content {
  width: 70vw;
  height: fit-content;
  border: none;
  display: grid;
  place-items: center;
}

.pop-img {
  width: 100%;
  height: auto;
  box-shadow: -13px 26px 45px rgba(0, 37, 131, 0.12);
}

/*  slider arrow btn */
.arrow-con {
  display: flex;
  align-items: center;
}

.slider-arrow {
  height: fit-content;
}
/*  ====== slider section end =====   */

/* ===== video section ===== */
.video-section {
  margin: 0 auto 12.73vh auto;
}

.video {
  width: 66.46%;
  height: 59.36vh;
  min-width: 280px;
}

/* ===== footer ===== */
.footer {
  width: 100vw;
  min-height: 700px;
  height: 100vh;
  background: linear-gradient(
    128.31deg,
    rgba(94, 197, 255, 0.65) 0%,
    rgba(40, 90, 216, 0.65) 100%
  );
  display: grid;
  place-items: center;
  position: relative;
}

.footer-content {
  width: 83.23%;
  height: 72.1%;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-text {
  color: #fff;
}

.main-text:hover {
  color: #fff;
}

.footer-brand {
  font-size: 3rem;
}

.footer-brand > h1 {
  margin: 0 0 0.625em 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.footer-brand > h1 > img {
  width: 1.75em;
  height: 1.58em;
  margin: 0 1.09em 0 0;
}

.credit {
  color: #fff;
  font-size: 0.375em;
  font-family: noto;
}

.credit > a {
  color: #fff;
  font-family: noto-bold;
  margin: 0 0 0 0.5em;
}

.footer-bt-left {
  font-size: 2.5rem;
  font-family: pop;
  padding: 0 0 2.2em 1.15em;
}

.sub-text {
  font-size: 1em;
  margin: 0 0 0.75em 0;
}

.main-text {
  font-size: 2.75em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer-link {
  width: 0.71em;
  height: 0.71em;
  margin: 0 0 0 0.73em;
}

/*  ======= footer-right =======  */

.info-container {
  font-size: 2rem;
  font-family: pop;
  margin: 2.25em 0 0 0;
  width: min-content;
}

.info {
  margin: 0 0 2em 0;
}

.info-head {
  margin: 0 0 0.25em 0;
}

.info-body {
  width: 80%;
}

.info-body {
  font-size: 0.625em;
}

.footer-right {
  height: fit-content;
}

.footer-bt-right {
  font-size: 1.5625em;
}

.term {
  margin: 0 0 1.28em 0;
}

.privacy,
.term {
  padding: 0 0 0.32em 0;
}

.term,
.privacy {
  position: relative;
  display: block;
}

.term > span,
.privacy > span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.2s linear;
}

.term:hover > span,
.privacy:hover > span {
  transform: scale(1);
}

.term,
.privacy,
.term:hover,
.privacy:hover {
  color: #fff;
}

@media screen and (max-width: 1800px) {
  .article {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .box {
    min-width: 180px;
    height: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .link {
    font-size: 1.125rem;
  }

  .footer-brand {
    font-size: 2.5rem;
  }

  .footer-bt-left {
    font-size: 2rem;
  }

  .info-container {
    font-size: 1.75em;
  }

  .term {
    margin: 0 0 0.75em 0;
  }

  .footer-bt-right {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .landing-header {
    font-size: 2.75rem;
  }

  .article {
    width: 100%;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    margin: 4vh 0 0 0;
  }

  .carousel {
    width: 90%;
  }

  .arrow {
    width: 40px;
    height: auto;
  }

  .object-1,
  .object-4 {
    width: 340px;
    height: 340px;
  }

  .object-2,
  .object-5 {
    width: 280px;
    height: 280px;
  }

  .object-3,
  .object-6 {
    width: 180px;
    height: 180px;
  }

  .object-6 {
    bottom: 64%;
  }

  .top-btn {
    width: 78px;
    height: 78px;
  }
}

@media screen and (max-width: 1270px) {
  .landing-header {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1100px) {
  .landing-content {
    flex-direction: column;
    text-align: center;
  }

  .header {
    font-size: 1.5rem;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    transform: translate(3%, 0);
  }

  .landing-header,
  .article {
    padding: 0;
  }

  .article {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .box-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 clamp(40px, 8vh, 80px) 0;
  }

  .box {
    margin: 0 25px 25px 0;
  }

  .landing-content::after {
    width: 100%;
    height: 25%;
    min-width: 260px;
    top: 16%;
    right: 0;
    left: 0;
  }

  .landing-content::before {
    display: none;
  }

  .footer-bt-left {
    font-size: 1.75rem;
  }

  .info-container {
    font-size: 1.5em;
  }

  .info {
    margin: 0 0 1em 0;
  }

  .info-body {
    font-size: 1rem;
  }

  .term {
    margin: 0 0 0.5em 0;
  }

  .term,
  .privacy {
    width: fit-content;
  }

  .credit {
    font-size: 1rem;
  }

  .footer-bt-right {
    margin: 2.5em 0 0 0;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .footer-brand {
    font-size: 2rem;
  }

  .footer-bt-left {
    font-size: 1.5rem;
  }

  .footer-bt-right {
    font-size: 1rem;
  }

  .top-btn {
    right: 4%;
  }
}

@media screen and (max-width: 859px) {
  .landing-content::after {
    top: 14%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-light .navbar-brand {
    font-size: 1.25rem;
  }

  .landing-header {
    font-size: 2rem;
    margin: 2em 0 1.6em 0;
  }

  .article {
    box-sizing: content-box;
    padding: 8%;
    background: linear-gradient(
      128.31deg,
      rgb(94, 197, 255, 0.65) 0%,
      rgb(40, 90, 216, 0.65) 100%
    );
    font-size: 1rem;
  }

  .features {
    font-size: 1rem;
    width: 90%;
  }

  .landing-content::after {
    display: none;
  }

  .box-container {
    margin: 6vh 0 clamp(40px, 8vh, 80px) 0;
  }

  .box {
    min-width: 140px;
    width: 140px;
    height: 114.5px;
    margin: 0 40px 40px 0;
  }

  .right {
    height: 40vh;
  }

  .carousel {
    display: none;
  }

  .mobile-slider {
    display: flex;
  }

  .arrow {
    width: 30px;
  }

  .slider-img {
    width: 80%;
  }

  .item-container {
    justify-content: center;
  }

  .footer-content {
    height: 85%;
  }

  .footer-left {
    height: 40%;
  }

  .footer-right {
    height: 50%;
  }

  .footer-brand {
    font-size: 2rem;
  }

  .footer-bt-left {
    font-size: 1.5rem;
    padding: 0;
    margin: 1.5em 0 0 0;
  }

  .footer-bt-right {
    margin: 1.125em 0 0 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .sub-text {
    margin: 0 0 0 0;
  }

  .info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 0 0 0;
    /* justify-content: space-between; */
  }

  .info {
    width: 25%;
    min-width: 154px;
    margin: 0 2em 1em 0;
  }

  .info:last-of-type {
    margin: 0 0 0 0;
  }

  .info-body {
    width: 100%;
  }

  .term {
    margin: 0 0 0.25em 0;
  }

  .object-1,
  .object-4 {
    width: 240px;
    height: 240px;
  }

  .object-2,
  .object-5 {
    width: 180px;
    height: 180px;
  }

  .object-3,
  .object-6 {
    width: 100px;
    height: 100px;
  }

  .object-4 {
    bottom: -50%;
  }

  .object-6 {
    bottom: 40%;
  }

  .top-btn {
    bottom: 4%;
    right: 5%;
  }
}

@media screen and (max-width: 520px) {
  .box-container {
    flex-direction: column;
  }

  .box {
    margin: 0 0 40px 0;
  }

  .features {
    width: 100%;
  }

  .arrow {
    width: 20px;
  }

  .footer-left {
    height: 30%;
  }

  .box-container {
    margin: 6vh 0 0 0;
  }

  .footer-right {
    height: 65%;
  }

  .footer-brand {
    font-size: 1.25rem;
  }

  .credit {
    font-size: 0.625em;
  }

  .footer-bt-left {
    font-size: 1.125rem;
  }

  .footer-bt-right {
    font-size: 0.875rem;
    margin: 1.5em 0 0 0;
  }

  .main-text {
    font-size: 2em;
  }

  .object-1,
  .object-4 {
    width: 180px;
    height: 180px;
  }

  .object-2,
  .object-5 {
    width: 120px;
    height: 120px;
  }

  .object-3,
  .object-6 {
    width: 80px;
    height: 80px;
  }

  .object-1 {
    bottom: -28%;
  }

  .object-2 {
    left: 6%;
    bottom: 2%;
  }

  .object-3 {
    bottom: 30%;
    left: -6%;
  }

  .object-4 {
    bottom: -20%;
  }
}
